html, body
    margin: 0 0.5em
    font-family: "Roboto Condensed", sans-serif

    a
        text-decoration: none
        color: #242121

    li
        list-style: none

    .section-titles
        display: flex
        align-items: center
        font-size: 4em
        margin: 1em
        gap: 1em

        &::before,
        &::after
            content: ""
            height: 1px
            background-color: black
            flex: 1

body
    display: flex
    flex-direction: column

    header
        background-color: white
        position: sticky
        top: 0
        z-index: 100

        nav
            display: flex
            flex-direction: row
            justify-content: space-between
            
            #logo-bt
                font-family: "Mrs Saint Delafield", cursive
                font-size: 2em
                padding-top: 0.5em
                margin-left: 1em
                transition: transform 0.5s ease

                &:hover
                    transform: scale(1.06)

            ul
                display: flex
                flex-direction: row
                padding-left: 1em

                li
                    margin-right: 2em

                    a
                        font-size: 1.5em
                        transition: transform 0.5s ease

                    &:hover
                        transform: scale(1.06)

    main
        padding-top: 8em
        background-image: url("images/pont.webp")
        background-size: cover
        background-position: center
        background-attachment: fixed     

        #wrapper
            background-color: white
            width: 80%
            height: auto
            margin: 0 auto 8em auto
            padding: 0.5em 2em 2em

            .section-titles
                margin-bottom: 0

            .subtitles
                text-align: center
                margin-bottom: 1em
                     
            a
                display: flex
                justify-content: center
                color: #7957ec

            .project-gallery
                background-color: #00000011
                margin: 2em 0 2em 0
                padding: 2em 0 2em 0
                border-radius: 8px

                .project-screenshots
                    display: flex
                    flex-direction: row
                    justify-content: center
                    flex-wrap: wrap
                    gap: 2em

                    a
                        width: 30%
                        transition: transform 0.3s ease

                        &:hover
                            transform: scale(1.04)

                        img
                            width: 100%

                    .project-screenshots-hero-text
                        display: none

            .project-description
                margin-bottom: 3em

            .project-used-techno

                .project-section-techno
                    display: flex
                    flex-direction: row
                    justify-content: center
                    gap: 5em
                    margin: 2em auto 3em auto

                    .project-techno-logo-wrap
                        display: flex
                        flex-direction: column
                        align-items: center
                        gap: 1em

                    .project-techno-logo
                        width: 100px
                        height: 100px

    footer
        display: flex
        flex-direction: row
        align-content: center
        justify-content: space-between

        p,
        a
            margin: 1.5em

        a
            transition: transform 0.3s ease

            &:hover
                transform: scale(1.04)

#baguetteBox-overlay
    .full-image
        img
            max-width: 75vw
            max-height: auto

// RESPONSIVE //

@media screen and (max-width: 767px)

    html, body

        .section-titles
            flex-direction: column
            font-size: 3em
            margin: 0em

    header
        
        .nav
            flex-direction: column
            text-align: center

            ul
                display: flex
                flex-direction: row
                justify-content: space-between
                padding: 1em

                li
                    margin: 0 !important
            
    main
        padding-top: 0 !important

        #main-title
            flex-direction: column
            text-align: center
            margin: 0 0 3em 0 !important
            color: white
            font-size: 2em !important

            h1,
            p
                margin: 0

        #wrapper
            width: 100% !important
            margin: 0 !important
            box-sizing: border-box
            padding: 0 !important

            .section-titles
                max-width: 100%
                text-align: center

            .project-gallery

                .project-screenshots
                    gap: 1em 0 !important

                    a
                        width: 100% !important

                        img
                            position: relative
                            width: 100% !important

                    .project-screenshots-hero
                        position: relative
                        width: 90% !important

                    .project-screenshots-hidden
                        display: none

                    .project-screenshots-hero-text
                        display: flex !important
                        position: absolute
                        inset: 0
                        width: 100%
                        height: 100%
                        align-items: center
                        justify-content: center
                        color: white
                        background: rgba(0, 0, 0, 0.5)

            .project-used-techno

                .project-section-techno
                    gap: 2.5em !important
                    margin: 0 !important

                    .project-techno-logo
                        width: 80px !important
                        height: 80px !important

    footer
        position: relative
        margin-top: 3em

        p,
        a
            margin: 0 !important

        a
            position: absolute

        #footer-notice
            top: 0
            left: 1em

        #footer-veille
            top: 0
            right: 1em

        p
            position: absolute
            top: 3em
            padding-bottom: 1em
            left: 50%
            transform: translateX(-50%)
            white-space: nowrap


@media screen and (min-width: 768px) and (max-width: 1023px)

    .section-titles
        max-width: 100%
        text-align: center
        font-size: 2.5em !important
        margin: 2em 1.5em !important

    .project-gallery

        .project-screenshots
            gap: 1em 0 !important

            a
                width: 100% !important

                img
                    position: relative
                    width: 100% !important

            .project-screenshots-hero
                position: relative
                width: 90% !important

            .project-screenshots-hidden
                display: none !important

            .project-screenshots-hero-text
                display: flex !important
                position: absolute
                inset: 0
                width: 100%
                height: 100%
                align-items: center
                justify-content: center
                color: white
                background: rgba(0, 0, 0, 0.5)
