html, body
    margin: 0 0.5em
    font-family: "Roboto Condensed", sans-serif

    a
        text-decoration: none
        color: #242121

    li
        list-style: none

    .section-titles
        display: flex
        align-items: center
        font-size: 4em
        margin: 1em
        gap: 1em

        &::before,
        &::after
            content: ""
            height: 1px
            background-color: black
            flex: 1

body
    display: flex
    flex-direction: column

    header
        background-color: white
        position: sticky
        top: 0
        z-index: 100

        nav
            display: flex
            flex-direction: row
            justify-content: space-between
            
            #logo-bt
                font-family: "Mrs Saint Delafield", cursive
                font-size: 2em
                padding-top: 0.5em
                margin-left: 1em
                transition: transform 0.5s ease

                &:hover
                    transform: scale(1.06)

            ul
                display: flex
                flex-direction: row
                padding-left: 1em

                li
                    margin-right: 2em

                    a
                        font-size: 1.5em
                        transition: transform 0.5s ease

                    &:hover
                        transform: scale(1.06)

    main
        padding-top: 8em
        background-image: url("images/pont.webp")
        background-size: cover
        background-position: center
        background-attachment: fixed     

        #wrapper
            background-color: white
            width: 80%
            height: auto
            margin: 0 auto 8em auto
            padding: 0.5em 2em 2em

            #ressources-logo,
            #veille-logo
                display: flex
                flex-direction: row
                flex-wrap: wrap
                justify-content: center
                gap: 5em
                margin: 8em auto 8em auto

                .ressources-veille-logo-wrap
                    display: flex
                    flex-direction: column
                    align-items: center
                    gap: 1em

                .ressources-veille-logo
                    width: 100px
                    height: 100px

        #inspirations
            width: 85%
            margin: 8em auto
            color: white
            background-color: black
            display: flex
            flex-direction: row
            justify-content: center
            flex-wrap: wrap
            gap: 6em
            padding: 2em
            clip-path: polygon(
                40px 0,
                100% 0,
                100% calc(100% - 40px),
                calc(100% - 40px) 100%,
                0 100%,
                0 40px
            )

            a
                color: white
                font-size: 30px
                transition: transform 0.5s ease

                &:hover
                    color: #7957ec
                    transform: scale(1.06)

    footer
        display: flex
        flex-direction: row
        align-content: center
        justify-content: space-between

        #footer-veille
            visibility: hidden

        p,
        a
            margin: 1.5em

        a
            transition: transform 0.3s ease

            &:hover
                transform: scale(1.04)