html, body
    margin: 0 0.5em
    height: 100%
    font-family: "Roboto Condensed", sans-serif

body
    display: flex
    flex-direction: column

header
    background-color: white
    top: 0
    position: sticky

    nav
        ul
            display: flex
            flex-direction: row
            padding-left: 1em

            li
                list-style: none
                margin-right: 2em

                a
                    color: #242121
                    text-decoration: none
                    font-size: 1.5em

main
    padding-top: 14em
    background-image: url("images/pont.webp")
    background-size: cover
    background-position: center
    background-attachment: fixed

    #main-title
        display: flex
        justify-content: center
        margin-left: 26%
        margin-bottom: 1em
        color: white
        font-size: 3em
        animation-duration: 2s
        animation-name: fade-in

    @keyframes fade-in
        from
            opacity: 0
        to
            opacity: 1
    
    #arrow-container
        animation: arrow-intro 0.5s ease-out forwards

    #arrow-main-title
        display: flex
        justify-content: center
        color: white
        font-family: "STIX Two Math", serif
        font-size: 10em
        margin-bottom: 1em
        animation: bounce 1.5s ease-in-out infinite

    @keyframes arrow-intro
        from
            transform: rotate(180deg)
        to
            transform: rotate(0deg)

    @keyframes bounce
        0%, 100%
            transform: translateY(0)

        50%
            transform: translateY(10px)

    #wrapper
        background-color: white
        width: 80%
        height: 200vh
        margin: auto
        padding: 2em

        #about
            display: flex
            flex-direction: row

            .about-photo
                width: 400px
                height: 400px
                margin-right: 2em

            .about-txt
                margin-top: -1em
                line-height: 2em
                font-size: 20px

                p
                    width: 90%
                    margin-left: 2em
                    font-weight: 300

        .about-quote
            display: flex
            justify-content: center
            text-align: center
            margin: 2em
            padding: 2em
            font-size: 2em
            font-weight: 200
            border-block: 1px solid black