html, body
    margin: 0 0.5em
    height: 100%
    font-family: "Roboto Condensed", sans-serif

    a
        text-decoration: none

body
    display: flex
    flex-direction: column

header
    background-color: white
    top: 0
    position: sticky

    nav
        ul
            display: flex
            flex-direction: row
            padding-left: 1em

            li
                list-style: none
                margin-right: 2em

                a
                    color: #242121
                    font-size: 1.5em
                    transition: transform 0.5s ease

                &:hover
                    transform: scale(1.06)

main
    padding-top: 14em
    background-image: url("images/pont.webp")
    background-size: cover
    background-position: center
    background-attachment: fixed

    #main-title
        display: flex
        justify-content: center
        margin-left: 26%
        margin-bottom: 1em
        color: white
        font-size: 3em
        animation-duration: 2s
        animation-name: fade-in

    @keyframes fade-in
        from
            opacity: 0
        to
            opacity: 1
    
    #arrow-container
        animation: arrow-intro 0.5s ease-out forwards

    #arrow-main-title
        display: flex
        justify-content: center
        color: white
        font-family: "STIX Two Math", serif
        font-size: 10em
        margin-bottom: 1em
        animation: bounce 1.5s ease-in-out infinite

    @keyframes arrow-intro
        from
            transform: rotate(180deg)
        to
            transform: rotate(0deg)

    @keyframes bounce
        0%, 100%
            transform: translateY(0)

        50%
            transform: translateY(20px)

    #wrapper
        background-color: white
        width: 80%
        height: auto
        margin: auto
        padding: 2em

        #about
            display: flex
            flex-direction: row

            .about-photo
                width: 400px
                height: 400px
                margin-right: 2em
                transition: transform 0.3s ease

                &:hover
                    transform: scale(1.04)

            .about-txt
                margin-top: -1em
                line-height: 1.2em
                font-size: 20px

                p
                    width: 90%
                    margin-left: 2em
                    font-weight: 300

        .about-quote
            display: flex
            flex-direction: column
            justify-content: center
            text-align: center
            margin: 2em
            padding: 2em
            font-size: 2em
            font-weight: 200
            border-block: 1px solid black
            transition: transform 0.3s ease

            &:hover
                transform: scale(1.04)

            p
                margin: 0

            #lynch
                font-weight: 400
                margin-top: 1em

        #projects

            #projects-title
                display: flex
                justify-content: center
                font-size: 4em

            #projects-section
                display: flex
                flex-direction: row
                justify-content: center
                flex-wrap: wrap
                margin-top: 2.5em

                .project-link
                    width: 40%

                    .project-card
                        position: relative
                        padding: 2em
                        margin: 2em
                        height: 5em
                        filter: grayscale(100%)
                        transition: transform 0.3s ease, height 0.5s ease, filter 0.3s ease

                        h2,
                        img
                            opacity: 0
                            visibility: hidden
                            transition: opacity 0.3s ease

                        &:hover
                            height: 40em
                            transform: scale(1.04)
                            filter: grayscale(0%)
                            box-shadow: 0 0 10px black

                            h2,
                            img
                                opacity: 1
                                visibility: visible

                    h1,
                    h2
                    text-align: center

                    h2
                        position: absolute
                        top: 75%
                        left: 50%
                        transform: translateX(-50%)
                        font-weight: 300

                    img
                        position: absolute
                        top: 45%
                        left: 50%
                        transform: translate(-50%, -50%)
                        width: 300px

                    #project-nina
                        border-block: thick double #5a1c77

                        h1,
                        h2
                            color: #5a1c77

                    #project-kasa
                        border-block: thick double #ff6060

                        h1,
                        h2
                            color: #ff6060

                        img
                            width: 200px
                            border-block: 1px solid #ff6060
                            padding: 120px 50px
